/*Import para a font*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*Resetando configurações padrão dos navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variáveis das cores usadas nesse projeto, elas facilitam a usabilidade e manutenção*/
:root {
    --green500: hsl(171, 66%, 44%);
    --blue100: hsl(233, 100%, 69%);
    --gray700: hsl(210, 10%, 33%);
    --gray500: hsl(201, 11%, 66%);
    --font: "Bai Jamjuree", sans-serif;
}

/*Body (corpo) do site*/
body {
    background-image: url(./assets/background/bg-header-mobile.png);
    background-position: top;

    background-color: white;

    background-size: 100%;
    background-repeat: no-repeat;
    
    min-height: 100vh;
    font-family: var(--font);
}

/*.container = main*/
.container {
    max-width:1100px;
    margin: auto;
          
    padding: 1rem; /*padding baseado na raiz, ideal para responsividade e escalabilidade, caso o usuário use uma configuração diferente do esperado.*/
}

/*margens todas as classes com 7rem*/
section {
    margin-top: 7rem;
    text-align: center;
    gap: 2rem;
}

section h1, h2 {
    color: var(--gray700);
    font-size: 2rem;
    font-weight: 600;
}

section p {
    line-height: 1.5rem;
    font-size: clamp(0.9rem, 4vw, 1rem);
    font-weight: 400;
    color: var(--gray500);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

section img {
    max-width: 100%;
    height: auto;
}

/*estilização folha 01*/
.pag-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-empresa {
    width: 6.5rem;
    margin-bottom: 1rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /*espaçamentos entre os dois botões*/

    margin-top: 1.5rem; /*margem do botão de iOS para o texto acima dele*/
}

.botao-Download {
    padding: 0.9rem 2rem;
    width: 100%;
    max-width: 18rem;

    font-family: var(--font);
    border: none;
    border-radius: 20px;
    
    color: #fff;
    
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer nav a:hover {
    color: var(--green500);
    transition: color 0.3s ease;
}

.redes-sociais img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#btn-green{
    background-color: var(--green500);
    box-shadow: 0 1px 8px var(--green500);
}

#btn-blue{
    background-color: var(--blue100);
    box-shadow: 0 1px 8px var(--blue100);
}

#btn-green2{
    background-color: var(--green500);
    box-shadow: 0 1px 8px var(--green500);
}

#btn-blue2{
    background-color: var(--blue100);
    box-shadow: 0 1px 8px var(--blue100);
}

.botao-Download:active{
    transform: translateY(2px);
}

/*estilização folha 02*/
.pag-trechos {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.pag-trechos div h2, p {
    margin-top: 1.5rem;
}

/*estilização folha 03*/
.pag-acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilização folha 04*/
.pag-fluxo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilização pag 4*/
.pag-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficio {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilização página de logos*/
.pag-empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilização página de prancheta*/
.pag-prancheta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 1.5rem;
    margin-top: 7rem;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.logo-footer {
    width: 15%;
}

footer nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem;

    color: var(--gray700);
    font-size: 1rem;
}

.redes-sociais {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 3rem;
}

@media (min-width: 1075px) {
    body {
        background-image: url(./assets/background/bg-header-desktop.png);
    }

    .botoes {
        flex-direction: row;
    }
    
    .content-trechos {
        display: flex;
        align-items: flex-start;        
        text-align: left;
        gap: 30rem;
        padding: 3rem;
    }

    .computador-trechos {
        position: absolute;
        left: -50px; /* Move para fora da tela pela esquerda */
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin-left: 30rem;
    }

    .pag-acesso {
        margin-top: 15rem;
    }
    
    .pag-beneficios {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .pag-empresas {
        margin-top: 10rem;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .logo-footer {
        width: 5%;
    }

    .navegacao {
        width: 33.33%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .navegacao div a {
        text-align: left;
    }

}
